Given a list, write a Python program to swap first and last element of the list.
Example:
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [1, 2, 3]

In [3]:
numbers = [12, 35, 9, 56, 24]
numbers[-1] , numbers[0] = numbers[0] , numbers[-1]
numbers[:]

[24, 35, 9, 56, 12]

In [5]:
Numbers1 = [1, 2, 3]
Numbers1[-1] , Numbers1[0] = Numbers1[0] , Numbers1[-1]
Numbers1[:]

[3, 2, 1]

Python provides us with various ways of reversing a list. We Will go through few of the many techniques on how a list in python can be reversed.
Examples:

Input : list = [10, 11, 12, 13, 14, 15]
Output : [15, 14, 13, 12, 11, 10]

Input : list = [4, 5, 6, 7, 8, 9]
Output : [9, 8, 7, 6, 5, 4,]

In [8]:
Input1 = [10, 11, 12, 13, 14, 15]
Input1.sort(reverse=True)
Input1[:]

[15, 14, 13, 12, 11, 10]

In [9]:
Input2 = [4, 5, 6, 7, 8, 9]
Input2.sort(reverse=True)
Input2[:]

[9, 8, 7, 6, 5, 4]